%clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}

%center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

%fill-parent-block {
	display: block;
	width: 100%;
	height: 100%;
}

%hover-link {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

%background {
  background: red;
  width: 100%;
  height: 1000px;
}